@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Montserrat Light"),
    local("Montserrat-Light"),
    url("../fonts/montserratlight300.woff2") format("woff2"),
    url("../fonts/montserratlight300.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat Regular"),
    local("Montserrat-Regular"),
    url("../fonts/montserratregular400.woff2") format("woff2"),
    url("../fonts/montserratregular400.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat Semibold"),
    local("Montserrat-Semibold"),
    url("../fonts/montserratsemibold600.woff2") format("woff2"),
    url("../fonts/montserratsemibold600.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"),
    local("Montserrat-Bold"),
    url("../fonts/montserratbold700.woff2") format("woff2"),
    url("../fonts/montserratbold700.woff") format("woff");
}
