@mixin tablet {
  @media (min-width: $tab_min) and (max-width: $tab_max) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: 0) and (max-width: $mob_max) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
    @content;
  }
}

@mixin flex($flex-direction) {
  display: flex;
  flex-direction: $flex-direction;
  flex-wrap: wrap;
  justify-content: space-between;
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}

@mixin container {
  position: relative;
  width: auto;
  min-width: $desk_min;
  max-width: $desk_max;
  margin: 0 auto;
  padding: 0 $desk_pads;

  @include tablet {
    min-width: $tab_min;
    width: auto;
    padding: 0 $tab_pads;
    overflow-x: hidden;
  }

  @include mobile {
    min-width: $mob_min;
    width: 100%;
    padding: 0 $mob_pads;
    overflow-x: hidden;
  }
}

@mixin font($size, $height, $weight) {
  font-family: $font_main;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

@mixin modal-title-icon($url, $url_retina) {
  position: relative;
  padding-left: 50px;

  @include mobile {
    padding-left: 60px;
    font-size: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: -30px;
    transform: translateY(-50%);
    display: block;
    width: 60px;
    height: 65px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-image: url($url);

    @include retina {
      background-image: url($url_retina);
    }

    @include tablet {
      left: -15px;
      width: 55px;
      height: 60px;
    }

    @include mobile {
      top: 48%;
      left: 8px;
      width: 40px;
      height: 45px;
    }
  }
}

/*
основные кнопки
*/
@mixin button {
  display: inline-block;
  vertical-align: middle;
  min-width: 210px;
  max-width: 280px;
  padding: 18px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  border-radius: 12px;
  transition: all ease-in-out 0.5s;
  cursor: pointer;

  @include tablet {
    min-width: 180px;
    padding: 12px;
    font-size: 14px;
  }

  @include mobile {
    min-width: 140px;
    width: auto;
    padding: 13px;
    font-size: 12px;
    border-radius: 8px;
  }
}

@mixin button--accent($col, $bg, $hov) {
  color: $col;
  background-color: $bg;
  border: $bg 1px solid;

  &:hover,
  &:focus,
  &:active {
    background-color: $hov;
  }
}

@mixin button--dark($col, $bg, $hov) {
  color: $col;
  background-color: $bg;
  border: $bg 1px solid;

  &:hover,
  &:focus,
  &:active {
    background-color: $hov;
  }
}

@mixin button--ghost {
  min-width: 161px;
  color: $c_text;
  background-color: white;
  border: $c_border 1px solid;
  border-radius: 11px;

  @include mobile {
    min-width: 100px;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: $c_ghost-hover;
  }
}

/*
закруглённые кнопки
*/
@mixin button-rounded {
  @include font(14px, 1.3, $reg);
  display: inline-block;
  vertical-align: middle;
  padding: 17px 20px;
  text-align: center;
  border-radius: 45px;
  border: 1px solid white;
  cursor: pointer;

  @include mobile {
    font-size: 12px;
    padding: 8px 10px;
  }
}

@mixin button-rounded--light {
  color: $c_text;
  background-color: white;

  &:hover,
  &:focus,
  &:active {
    background-color: $c_ghost-hover;
  }
}

@mixin button-rounded--dark {
  color: white;
  background-color: $c_dark;

  &:hover,
  &:focus,
  &:active {
    background-color: $c_dark-hover;
  }
}

/*
кнопка со стрелкой
*/
@mixin button-arrow {
  position: relative;
  padding-left: 33px;
  background-color: transparent;
  border: 0 none;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  text-align: left;

  @include tablet {
    width: max-content;
  }

  @include mobile {
    padding-left: 40px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    width: 30px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    background-image: url("../img/bg-arrow.svg");

    @include tablet() {
      left: 5px;
      width: 18px;
      height: 26px;
    }

    @include mobile {
      left: 15px;
      width: 20px;
      height: 20px;
    }
  }

  &:hover,
  &:focus,
  &:active {
    opacity: 0.7;
    outline-offset: 10px;
  }
}
