$font_main: "Montserrat", "Arial", sans-serif;
$light: 300;
$reg: 400;
$semi: 600;
$bold: 700;

$mob_min: 320px;
$mob_max: 767px;
$tab_min: 768px;
$tab_max: 1023px;
$desk_min: 1024px;
$desk_max: 1580px;
$mob_pads: 20px;
$tab_pads: 45px;
$desk_pads: 50px;

$retina_dpi: 144dpi;
$retina_dppx: 1.5dppx;

$c_text: #000000;
$c_text-light: #adadad;
$c_accent: #fbcb03;
$c_accent-hover: #e6b901;
$c_dark: #000000;
$c_dark-hover: #333333;
$c_ghost-hover: #f2f2f2;
$c_bg: #f2f2f2;
$c_border: #d6d6d6;
$c_error: #ff0000;
