.btn {
  @include button;
}

.btn--accent {
  @include button--accent($c_text, $c_accent, $c_accent-hover);
}

.btn--dark {
  @include button--dark(white, $c_dark, $c_dark-hover);
}

.btn--ghost {
  @include button--ghost;
}
