.first-screen::before {
  content: "";
  position: absolute;
  top: calc(350px - 10vw);
  left: 49%;
  z-index: 100;
  display: block;
  width: 90%;
  height: calc(100vw * 0.38);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% auto;
  background-image: url("../img/bg-icons-edit.svg");

  @media (min-width: 1023px) and (max-width: 1335px) {
    left: 58%;
    top: calc(370px - 8vw);
    height: 40vw;
  }

  @include tablet {
    top: calc((0 - 1) * 10px + 13vw);
    right: 0;
    left: initial;
    width: 450px;
    height: 370px;
    background-position: 100% 0;
    background-image: url("../img/bg-icons.svg");
  }

  @include mobile {
    top: calc(1px + 13vw);
    right: 0;
    left: initial;
    width: 450px;
    height: 300px;
    background-position: 100% 0;
    background-image: url("../img/bg-icons.svg");
  }
}

.first-screen__container {
  @include flex(row);
  justify-content: flex-start;
  padding-top: 150px;
  padding-bottom: 120px;


  @include tablet {
    padding-top: 200px;
    overflow: hidden;
  }

  @include mobile {
    padding-top: 238px;
    overflow: hidden;
  }
}

.first-screen__content-wrapper {
  position: relative;
  width: 550px;
  overflow: visible;

  @include tablet {
    max-width: 500px;
    margin-left: 0;
  }

  @media (min-width: 660px) {
    margin-left: 8%;
  }

  @include mobile {
    max-width: 99%;
  }
}

.first-screen b {
  @include font(50px, 1.2, $bold);
  display: block;
  margin-top: 58px;
  margin-bottom: 20px;

  @include tablet {
    margin-top: 45px;
    font-size: 40px;
  }

  @include mobile {
    margin-top: 30px;
    margin-bottom: 18px;
    font-size: 30px;
  }
}

.first-screen p {
  margin-top: 0;
  max-width: 510px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 1.5;

  @media (min-width: 1023px) and (max-width: 1335px) {
    font-size: 16px;
  }

  @include tablet {
    font-size: 16px;
  }

  @include mobile {
    max-width: 400px;
    margin-bottom: 12px;
    padding-right: 10px;
    font-size: 12px;
  }
}

.first-screen__buttons-wrapper {
  margin-top: 120px;
  width: max-content;

  @include tablet {
    margin-top: 60px;
  }

  @include mobile {
    @include flex(row);
    margin-top: 60px;
    width: 100%;
    max-width: 380px;
  }
}

.first-screen__buttons-wrapper a {
  --gap: 15px;

  @include button;
  position: relative;
  margin-right: var(--gap);

  @include mobile {
    width: calc(50% - 15px);
    min-width: calc(50% - (var(--gap) / 2));
  }

  &:first-child {
    @include button--accent($c_text, $c_accent, $c_accent-hover);
  }

  &:nth-child(2) {
    @include button--dark(white, $c_dark, $c_dark-hover);
    margin-right: 0;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: calc(100% - 3px);
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-size: contain;
    background-position: 50%;
  }

  &:first-child::after {
    width: 52px;
    height: 52px;
    background-image: url("../img/bg-cool@1x.png");

    @include retina {
      background-image: url("../img/bg-cool@2x.png");
    }

    @include tablet {
      width: 46px;
      height: 46px;
    }

    @include mobile {
      width: 38px;
      height: 38px;
    }
  }

  &:nth-child(2)::after {
    width: 44px;
    height: 44px;
    background-image: url("../img/bg-sht@1x.png");

    @include retina {
      background-image: url("../img/bg-sht@2x.png");
    }

    @include tablet {
      width: 38px;
      height: 38px;
    }

    @include mobile {
      width: 30px;
      height: 30px;
    }
  }
}

.first-screen__animation-wrapper {
  position: absolute;
  bottom: calc(630px - 15vw);
  left: calc(20.5% - 8vw);
  z-index: -2;
  width: 1260px;
  height: 600px;
  min-height: 200px;
  transform: rotate(135deg);

  @include tablet {
    top: -650px;
    left: initial;
    right: -42vw;
    width: initial;
    height: 770px;
  }

  @include mobile {
    top: -290px;
    left: initial;
    right: -40vw;
    width: initial;
    min-height: 0;
    height: 280px;
  }
}

.first-screen__animation-wrapper::after {
  content: "";
  position: absolute;
  top: -50px;
  right: -210px;
  transform: rotate(45deg);
  z-index: 100;
  display: block;
  width: 350px;
  height: 200px;
  background-color: white;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.first-screen__animation-wrapper::before {
  content: "";
  position: absolute;
  top: 20px;
  right: -64px;
  transform: rotate(45deg);
  z-index: 101;
  display: block;
  width: 400px;
  height: 1px;
  background-color: transparent;
  box-shadow: 0 -1px 5px lightgrey;

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.first-screen__animation-positioning-wrapper {
  position: relative;
  max-width: calc(100% - 550px - (2 * #{$desk_pads}));
  width: auto;
  flex-grow: 1;
  align-self: stretch;
  min-height: 200px;
}
