.form > div {
  @include flex(row);
  flex-wrap: nowrap;
  width: 100%;
  max-width: 100%;
}

.form input[type="email"] {
  flex-grow: 1;
  padding: 15px;
  border-radius: 11px;
  background-color: $c_bg;
  border: 1px solid $c_bg;
  appearance: none;
  outline: 0 none;

  @include mobile {
    padding: 14px 17px;
    border-radius: 8px;
    font-size: 12px;
  }

  &:active,
  &:focus {
    border: 1px solid $c_text;
  }
}

.form input::placeholder {
  color: $c_text-light;
}

.form button[type="submit"] {
  @include button;
  @include button--ghost;
  @include font(14px, 1.3, $reg);
}

.form input.form__error {
  animation: error-border 2s;
}
