.form-subscribe {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: -5px;
  font-size: 14px;
  padding-bottom: 55px;

  @include tablet {
    min-height: 200px;
  }

  @include mobile {
    min-height: 150px;
    padding-bottom: 35px;
  }
}

.form-subscribe form {
  margin-top: auto;
  margin-bottom: auto;
}

.form-subscribe p {
  @include font(12px, 1.5, $reg);
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 300px;
  color: $c_text-light;

  @include mobile {
    font-size: 10px;
  }
}

.form-subscribe a {
  color: $c_text-light;
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.8;
    color: $c_text;
  }
}

.form-subscribe input {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
  width: 50%;
  margin-right: 15px;

  @include mobile {
    min-width: 0;
    margin-right: 10px;
    flex-grow: 1;
  }
}

.form-subscribe button[type="submit"] {
  width: 161px;

  @include mobile {
    min-width: 100px;
  }
}
