.form-options {
  padding: 20px 30px;

  @include tablet {
    padding: 20px 0;
  }

  @include mobile {
    padding: 7px 20px 15px;
  }
}

.form-options button {
  @include button-rounded;
  @include button-rounded--dark;
  width: 100%;
  margin-bottom: 15px;
}
