.fyou {
  background-color: black;

  @include tablet {
    order: -1;
  }

  @include mobile {
    order: -1;
  }
}

.fyou h2 {
  @include modal-title-icon("../img/bg-sht@1x.png", "../img/bg-sht@2x.png");
}

.fyou p::before {
  background-image: url("../img/bg-thumbup@1x.png");

  @include retina {
    &::before {
      background-image: url("../img/bg-thumbup@2x.png");
    }
  }
}
