.modal {
  position: relative;
  margin-bottom: 30px;

  @include flex(column);
  width: 48%;
  min-height: 498px;
  padding: 30px 50px 25px;
  border-radius: 20px;

  @include tablet {
    width: calc(100% - 2 * #{$tab_pads});
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
  }

  @include mobile {
    width: calc(100% - 2 * #{$mob_pads});
    min-height: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
  }
}

.modal--reply-no-header {
  overflow: hidden;
}

.modal h2 {
  @include font(28px, 1.3, $semi);

  @include tablet {
    font-size: 24px;
  }

  @include mobile {
    font-size: 16px;
    margin-top: 20px;
  }
}

.modal--light {
  color: $c_text;
  background-color: white;
  border: 1px solid $c_border;
}

.modal--dark {
  color: white;
  background-color: $c_dark;
  border: 1px solid $c_dark;
}

.modal__header-wrapper {
  min-height: 120px;
  padding-bottom: 30px;

  @include tablet {
    min-height: 80px;
  }

  @include mobile {
    min-height: 85px;
    padding-bottom: 20px;
  }
}

.modal__content-wrapper {
  @include flex(column);
  justify-content: center;
  flex-grow: 1;
}

.modal__reply-wrapper {
  display: none;
  justify-content: center;
  padding-bottom: 30px;
  text-align: center;
  flex-grow: 1;
}

.modal__reply-wrapper--no-header {
  display: none;
  z-index: 10;
  justify-content: center;
  align-items: center;
  color: white;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
    width: 100%;
    height: 100%;
    background-color: black;
  }
}

.modal__reply-wrapper--no-header p {
  @include font(28px, 1.3, $semi);
  position: relative;
  padding-top: 120px;
  padding-bottom: 40px;

  @include tablet {
    padding-top: 100px;
  }

  @include mobile {
    padding-top: 60px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 20;
    display: block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;

    @include tablet {
      width: 80px;
      height: 80px;
    }

    @include mobile {
      width: 50px;
      height: 50px;
    }
  }
}

/*
стили для джс
*/
.modal--js-reply-shown .modal__header-wrapper {
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in;
}

.modal--js-reply-shown .modal__reply-wrapper::before,
.modal---jsreply-shown .modal__reply-wrapper::after {
  display: block;
}

.modal__content-wrapper--js-invisible {
  opacity: 0;
  transition: all 0.4s ease-in;
}

.modal__content-wrapper--js-hidden {
  display: none;
}

.modal__reply-wrapper--js-visible,
.modal__reply-wrapper--js-visible.modal__reply-wrapper--no-header {
  opacity: 1;
  transition: all 0.4s ease-in;
}

.modal__reply-wrapper--js-shown {
  display: flex;
  flex-direction: column;
}

.modal__reply-wrapper--js-shown.modal__reply-wrapper--no-header {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
