.overlay {
  display: none;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  min-height: 100vh;
  background-color: white;
  padding: 50px;
  transition: all 0.5s ease-in;
  overflow-y: auto;

  @include tablet {
    width: 100vw;
    height: 100%;
    padding: 0;
  }

  @include mobile {
    top: 0;
    width: 100vw;
    height: 100%;
    padding: 0;
  }
}

.overlay__container {
  @include flex(row);
  flex-grow: 1;
  max-width: 1264px;
  min-width: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 0;

  @include tablet {
    flex-direction: column;
    padding: 35px $tab_pads;
  }

  @include mobile {
    flex-direction: column;
    padding: 20px 0;
  }
}

.overlay__container > button[type="button"] {
  @include button-arrow;
  font-weight: $semi;
  font-size: 28px;
  margin-top: 45px;

  @include tablet {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
  }

  @include mobile {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
  }
}

/*
для джс
*/
.overlay--js-visible {
  opacity: 1;
  transition: all 0.5s ease-in;
}

.overlay--js-shown {
  display: block;
}
