.stripes {
  width: calc(1260px - 0.1vw);
  height: 600px;
  min-height: 200px;
  margin-bottom: 100px;
  overflow: hidden;
  font-size: 0;
  font-family: sans-serif;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: default;
  user-select: none;

  @include tablet {
    width: 640px;
    height: 500px;
  }

  @include mobile {
    z-index: 100;
    width: 420px;
    height: 400px;
  }
}

.stripes__inner {
  position: relative;
  z-index: -1;
  margin: 2px;
  font-size: 2rem;
  white-space: nowrap;
  display: inline-block;
  min-height: 200px;
  width: 180px;

  @include tablet {
    width: 640px;
    height: 650px;
    min-height: 0;
  }

  @include mobile {
    width: 420px;
    height: 600px;
  }
}

.stripes__inner img {
  position: relative;
  min-height: 100%;
  height: 100%;
  min-width: 1260px;

  @include tablet {
    min-width: 650px;
    height: 650px;
  }

  @include mobile {
    min-width: 0;
    width: 100%;
  }
}
