.subscribe {
  background-color: transparent;

  @include tablet {
    border: 1px solid transparent;
  }

  @include mobile {
    padding-left: 0;
    padding-right: 0;
    border: 1px solid transparent;
  }
}

.subscribe h2 {
  @include modal-title-icon("../img/bg-cool@1x.png", "../img/bg-cool@2x.png");

  @include mobile {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 18px;
  }
}
